body{
}

.infos{
  position: sticky;
   position: -webkit-sticky;
    top: 97%;
    z-index: 1;
   font-size: 20;
}

.infos2{
  position: sticky;
   position: -webkit-sticky;
    top: 0;
    z-index: 1;
   font-size: 15;
}

@media screen and (max-width: 500px) {
  .infos {
    position: sticky; 
    position: -webkit-sticky;
      top: 95%;
      z-index: 1;
     font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .infos2 {
    position: sticky; 
    position: -webkit-sticky;
      top: 95%;
      z-index: 1;
     font-size: 20px;
  }
}


.jade{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 40px;
  margin-top: 0px;
  letter-spacing: -0.5px;
   line-height:50px;
}

a{
  color: #000000;
   text-decoration: none;
}
p{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13.5px;

}

.images{
}

.container01{
  cursor: pointer;
  position:relative;
  width: 200px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
}

.container0{
  cursor: pointer;
  position:relative;
  width: 200px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.conteneur{
  display: flex;
  flex-wrap:wrap;
}

@media screen and (max-width: 500px) {
  .conteneur {
    flex-wrap:wrap;
  }
}
.colonne{
}

.colonne1{
  flex:1 1 100px;
}

.colonne2{
  flex:1 1 100px;
}

.colonne3{
  flex:1 1 100px;

}

.colonne4{
  flex:1 1 100px;

}

.colonne5{
  flex:1 1 100px;

}

.colonne6{
  flex:1 1 100px;

}

.colonne7{
  flex:1 1 100px;
}

lightbox/*pour l'affichage des images en grand quand on clique sur les slideshow*/



          .column {
            float: left;
            width: 25%;
          }

         .modal {
            display: none;
            position: -webkit-sticky;
            position: sticky;
            /*position: absolute;*/
            z-index: 1;
            padding-top: 40px;
            margin-top: -46.5%;
            left: 0;
            top: 0;
            width: 98%;
            overflow: auto;
          }

          @media screen and (max-width: 500px) {
            .modal {
              width: 70%;
              margin-top: -125%;
              padding-top: 150px;
            }
          }

          .modal-content {
            position: relative;
            margin: auto;
            width: 35%;
            max-width: 1200px;
          }

          @media screen and (max-width: 500px) {
            .modal-content {
              position: relative;
              margin: auto;
              width: 100%;
              max-width: 1200px;
            }
          }

          .close {
            color: red;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
          }

          .mySlides {
            display: none;
          }

          .cursor {
            cursor: pointer;
          }

          .prev,
          .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: red;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;

          }

          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }


          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }

          img {
             vertical-align: middle;
          }

          .caption-container {
            text-align: center;
            color: white;
          }

          .demo {
            opacity: 0.6;
          }

          .active,
          .demo:hover {
            opacity: 1;
          }

          img.hover-shadow {
            transition: 0.3s;
          }

diapo7images/*pour le défilement auto*/


              #slideshow7 {
              	position: relative;
              }

              /* gestion des dimensions et débordement du conteneur */
              #slideshow7 .container7 {
              	position:relative;
              	width: 200px;
              	height: 250px;
              	overflow: hidden;
                margin: auto;
                cursor: pointer;
              }

              /*
                 le conteneur des slides
                 en largeur il faut 100% x le nombre de slides
              */
              #slideshow7 .slider7 {
              	position: absolute;
              	text-align: center;
              	width: 700%;
              	height: 100%;
              }


              #slideshow7 figure {
              	position:relative;
              	display:inline-block;
              	padding:0; margin:0;
              }


              /* fonction d'animation, voir sur ce site pour adapter https://nosmoking.developpez.com/demos/css/diapo_slide_calcul.html */
              @keyframes slider7 {
                0%, 14.28%, 100%	{ left: 0 }
              	14.29%, 28.57%		{ left: -100% }
              	28.58%, 42.86%		{ left: -200% }
              	42.87%, 57.15%		{ left: -300% }
                57.16%, 71.44%	{ left: -400% }
                71.45%, 85.73%	{ left: -500% }
                85.74%, 100%	  { left: -600% }
              }

              #slideshow7 .slider7 {
              	animation: slider7 14.06s infinite;
              }

diapo9images/*pour le défilement auto*/


              #slideshow9 {
                            	position: relative;
                            }

                            /* gestion des dimensions et débordement du conteneur */
              #slideshow9 .container9 {
                            	position:relative;
                            	width: 200px;
                            	height: 250px;
              	              overflow: hidden;
                              margin: auto;
                              cursor: pointer;
                            }

              /*
                               le conteneur des slides
                               en largeur il faut 100% x le nombre de slides
              */
              #slideshow9 .slider9 {
                            	position: absolute;
                            	text-align: center;
                            	width: 900%;
                            	height: 100%;
              }


              #slideshow9 figure {
                            	position:relative;
                            	display:inline-block;
                            	padding:0; margin:0;

              }


              /* fonction d'animation, voir sur ce site pour adapter https://nosmoking.developpez.com/demos/css/diapo_slide_calcul.html */
              @keyframes slider9 {
                              0%, 11.06%, 100%	{ left: 0 }
                            	11.07%, 22.18%		{ left: -100% }
                            	22.19%, 33.30%		{ left: -200% }
                            	33.31%, 44.41%		{ left: -300% }
                              44.42%, 55.53%  	{ left: -400% }
                              55.54%, 66.65%	  { left: -500% }
                              66.66%, 77.77%	  { left: -600% }
                              77.78%, 88.88%	  { left: -700% }
                              88.89%, 100%	  { left: -800% }
              }

              #slideshow9 .slider9 {
                            	animation: slider9 30.08s infinite;
                            }

diapo4images/*pour le défilement auto*/


              #slideshow4 {
                position: relative;
              }

              #slideshow4 .container4 {
                position:relative;
                width: 200px;
                height: 250px;
                overflow: hidden;
                margin: auto;
                cursor: pointer;
              }
             /*pour la largeur c'est 100% fois le nombre d'images*/
              #slideshow4 .slider4 {
                position: absolute;
                width: 400%;
                height: 100%;
              }

              #slideshow4 figure {
                position:relative;
                display:inline-block;
                padding:0; margin:0;
              }

              /* fonction d'animation, voir sur ce site pour adapter https://nosmoking.developpez.com/demos/css/diapo_slide_calcul.html */
              @keyframes slider4 {
                0%, 24.99%, 100%	{ left: 0 }
                25%, 49.99%		{ left: -100% }
                50%, 74.99%		{ left: -200% }
                75%, 100%		{ left: -300% }
              }

              #slideshow4 .slider4 {
                animation: slider4 15.03s infinite;
              }

diapo5images/*pour le défilement auto*/


              #slideshow5 {
                position: relative;
              }

              #slideshow5 .container5 {
                position:relative;
                width: 200px;
                height: 250px;
                overflow: hidden;
                margin: auto;
                cursor: pointer;
              }
                           /*pour la largeur c'est 100% fois le nombre d'images*/
              #slideshow5 .slider5 {
                position: absolute;
                width: 500%;
                height: 100%;
              }

              #slideshow5 figure {
                position:relative;
                display:inline-block;
                padding:0; margin:0;
              }

                            /* fonction d'animation, voir sur ce site pour adapter https://nosmoking.developpez.com/demos/css/diapo_slide_calcul.html */
              @keyframes slider5 {
                0%, 19.92%, 100%	{ left: 0 }
                19.93%, 39.94%		{ left: -100% }
                39.95%, 59.96%		{ left: -200% }
                59.97%, 79.98%		{ left: -300% }
                79.99%, 100%		{ left: -400% }

              }

              #slideshow5 .slider5 {
                animation: slider5 15.03s infinite;
              }
