body{
}
.images{

}
.conteneur{
  padding: annulation;
  display: flex;
  flex-wrap:wrap;
}

.colonne1{
  flex:1 1 100px;
  background-color: blue;
  padding: annulation;
}

.colonne2{
  flex:1 1 100px;
  padding: annulation;
  background-color: red;

}

.colonne3{
  flex:1 1 100px;
  padding: annulation;
  background-color: yellow;

}

.colonne4{
  flex:1 1 100px;
  padding: annulation;
  background-color: pink;

}

.colonne5{
  flex:1 1 100px;
  padding: annulation;
  background-color: brown;

}

.colonne6{
  flex:1 1 100px;
  padding: annulation;
  background-color: red;

}

.colonne7{
  flex:1 1 100px;
  padding: annulation;
  background-color: pink;
}



lightbox/*pour l'affichage des images en grand*/



          .column {
            float: left;
            width: 25%;
          }

          .modal {
            display: none;
            position: absolute;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
          }

          .modal {
            display: none;
            position: absolute;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
          }

          .modal-content {
            position: relative;
            margin: auto;
            width: 35%;
            max-width: 1200px;
          }


          .close {
            color: grey;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
          }

          .mySlides {
            display: none;
          }

          .cursor {
            cursor: pointer;
          }

          .prev,
          .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;

          }

          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }


          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }

          img {
             vertical-align: middle;
          }

          .caption-container {
            text-align: center;
            color: white;
          }

          .demo {
            opacity: 0.6;
          }

          .active,
          .demo:hover {
            opacity: 1;
          }

          img.hover-shadow {
            transition: 0.3s;
          }


diapo7images/*pour le défilement auto*/


              #slideshow {
              	position: relative;
              }

              /* gestion des dimensions et débordement du conteneur */
              #slideshow .container {
              	position:relative;
              	width: 200px;
              	height: 250px;
              	overflow: hidden;
                margin: auto;
                cursor: pointer;
              }

              /*
                 le conteneur des slides
                 en largeur il faut 100% x le nombre de slides
              */
              #slideshow .slider {
              	position: absolute;
              	text-align: center;
              	width: 700%;
              	height: 100%;
              }

              #slideshow figure {
              	position:relative;
              	display:inline-block;
              	padding:0; margin:0;

              }


              /* fonction d'animation, voir sur ce site pour adapter https://nosmoking.developpez.com/demos/css/diapo_slide_calcul.html */
              @keyframes slider {
              	0%, 14.28%, 100%	{ left: 0 }
              	14.29%, 28.57%		{ left: -100% }
              	28.58%, 42.86%		{ left: -200% }
              	42.87%, 57.15%		{ left: -300% }
                57.16%, 71.44%	{ left: -400% }
                71.45%, 85.73%	{ left: -500% }
                85.74%, 100%	  { left: -600% }
              }

              #slideshow .slider {
              	animation: slider 8.06s infinite;
              }



diapo4images/*pour le défilement auto*/


              #slideshow4 {
                position: relative;
              }

              #slideshow4 .container4 {
                position:relative;
                width: 200px;
                height: 250px;
                overflow: hidden;
                margin: auto;
                cursor: pointer;
              }
             /*pour la largeur c'est 100% fois le nombre d'images*/
              #slideshow4 .slider4 {
                position: absolute;
                width: 400%;
                height: 100%;
              }

              #slideshow4 figure {
                position:relative;
                display:inline-block;
                padding:0; margin:0;
              }

              /* fonction d'animation, voir sur ce site pour adapter https://nosmoking.developpez.com/demos/css/diapo_slide_calcul.html */
              @keyframes slider4 {
                0%, 24.99%, 100%	{ left: 0 }
                25%, 49.99%		{ left: -100% }
                50%, 74.99%		{ left: -200% }
                75%, 100%		{ left: -300% }
              }

              #slideshow4 .slider4 {
                animation: slider4 9.03s infinite;
              }


              /*0%, 22.05%, 100%	{ left: 0 }
              22.26%, 44.41%		{ left: -100% }
              44.52%, 66.67%		{ left: -200% }
              66.78%, 88.93%*/